<!-- Banner -->
<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_path "HP_6_2.JPG"%>);">
  <div class="banner-content">
    <h1>Réparez vous-même votre panne de plomberie
    <br>ou de chauffage avec l'aide d'un pro</h1>
    <p>Plus rapide, moins cher, accessible à tous</p>
    <%= link_to "Décrire ma panne", "https://laurent30.typeform.com/to/vdixHQ", :target => "_blank", class: "navbar-wagon-item navbar-wagon-button btn" %>
    <div><a href="#info" class="banner-arrow floating"><i class="fa fa-angle-double-down"></i></a></div>
  </div>
</div>

<!-- Presentation -->

<div class="padded-presentation">
  <div class="container">
    <h2 class="text-center">Le principe</h2>
    <br>
    <div class="text-center features">
      <p>Décrivez votre panne à notre équipe de plombiers-chauffagistes qui vous enverra un <strong>prédiagnostic en moins de 24h</strong> :
      <br>une fois accepté, prenez rendez-vous pour réaliser votre propre dépannage avec une <strong>assistance technique par vidéo en direct</strong>.
      </p>
      <%= link_to "En savoir plus", "#myModal", "data-toggle" => "modal", class: "btn btn-default" %>
      <%= render 'shared/modal' %>
    </div>
  </div>
</div>

<!-- Key added value -->

<div class="wrapper-grey padded-presentation text-center" id="info">
  <div class="container">
    <h2 class="text-center">Les avantages</h2>
    <div class="col-xs-12 col-sm-4">
      <div class="features">
        <%= image_tag "moins_cher.png", {class: "img-circle", id: "logo"}%>
        <h2>Moins cher</h2>
        <p>
          En moyenne, une panne classique de plomberie coûte 100€ TTC, sans matériel. En choisissant de réparer vous-même votre panne avec notre aide à distance, vous paierez 2 fois moins cher (50€ pour 1h, pas de frais de déplacement).
        </p>
        </div>
      </div>
    <div class="col-xs-12 col-sm-4">
      <div class="features">
        <%= image_tag "plus_rapide.png", {class: "img-circle", id: "logo"}%>
        <h2>Plus rapide</h2>
        <p>
          Terminées les longues journées sans chauffage ni wc en attendant l'arrivée du plombier débordé ! Une fois votre prédiagnostic accepté, un plombier vous propose sous 24h un rendez-vous pour diagnostiquer et réparer ensemble votre panne.
        </p>
        </div>
      </div>
    <div class="col-xs-12 col-sm-4">
      <div class="features">
        <%= image_tag "accessible.png", {class: "img-circle", id: "logo"}%>
        <h2>Accessible à tous</h2>
        <p>
          Vous n'avez aucun talent de bricoleur-réparateur ? Aucun problème : 80% des pannes de plomberie-chauffage peuvent se résoudre facilement, avec une simple caisse à outil. Vous avez des pièces à changer ? Nous vous les envoyons sous 48h.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Types of disfunctions -->

<div class="padded-presentation">
  <div class="container">
    <h2 class="text-center">Sélectionnez votre panne</h2>
    <br>
    <div class="text-center features">
      <p>Cliquez sur l'image correspondant à votre panne pour remplir un rapide formulaire et recevoir ensuite votre prédiagnostic personnalisé :</p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-offset-2 col-md-2" style="width: 160px;padding-bottom: 15px;">

        <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path "cumulus_mural.jpg"%>);">
          <div class="avatar-description">
            <h2>Cumulus</h2>
          </div>
          <a class="avatar-link" href="https://laurent30.typeform.com/to/As6SDW" target="_blank"></a>
        </div>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-2" style="width: 160px;padding-bottom: 15px;">

        <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path "wc_standard.jpg"%>);">
          <div class="avatar-description">
            <h2>WC</h2>
          </div>
          <a class="avatar-link" href="https://laurent30.typeform.com/to/as95ux" target="_blank"></a>
        </div>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-2" style="width: 160px;padding-bottom: 15px;">

        <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path "radiateur.jpg"%>);">
          <div class="avatar-description">
            <h2>Radiateur</h2>
          </div>
          <a class="avatar-link" href="https://laurent30.typeform.com/to/U65tYP" target="_blank"></a>
        </div>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-2" style="width: 160px;padding-bottom: 15px;">

        <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path "evier.jpg"%>);">
          <div class="avatar-description">
            <h2>Évier</h2>
          </div>
          <a class="avatar-link" href="https://laurent30.typeform.com/to/W0M7kZ" target="_blank"></a>
        </div>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-2" style="width: 160px;padding-bottom: 15px;">

        <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path "lavabo.jpg"%>);">
          <div class="avatar-description">
            <h2>Lavabo</h2>
          </div>
          <a class="avatar-link" href="https://laurent30.typeform.com/to/NTfRmo" target="_blank"></a>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-offset-2 col-sm-2" style="width: 160px;padding-bottom: 15px;">

        <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path "baignoire.jpg"%>);">
          <div class="avatar-description">
            <h2>Baignoire ou douche</h2>
          </div>
          <a class="avatar-link" href="https://laurent30.typeform.com/to/gCy45U" target="_blank"></a>
        </div>

      </div>
      <div class="col-xs-12 col-sm-2" style="width: 160px;padding-bottom: 15px;">

        <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path "chaudiere-gaz.jpg"%>);">
          <div class="avatar-description">
            <h2>Chaudière au gaz</h2>
          </div>
          <a class="avatar-link" href="https://laurent30.typeform.com/to/RT8eed" target="_blank"></a>
        </div>

      </div>
      <div class="col-xs-12 col-sm-2" style="width: 160px;padding-bottom: 15px;">

        <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path "chaudiere-fioul.jpg"%>);">
          <div class="avatar-description">
            <h2>Chaudière au fioul</h2>
          </div>
          <a class="avatar-link" href="https://laurent30.typeform.com/to/yjVsED" target="_blank"></a>
        </div>

      </div>
      <div class="col-xs-12 col-sm-2" style="width: 160px;padding-bottom: 15px;">

        <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path "canalisation.jpg"%>);">
          <div class="avatar-description">
            <h2>Canalisations</h2>
          </div>
          <a class="avatar-link" href="https://laurent30.typeform.com/to/E4KhDw" target="_blank"></a>
        </div>

      </div>
      <div class="col-xs-12 col-sm-2" style="width: 160px;padding-bottom: 15px;">

        <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path "autre.jpg"%>);">
          <div class="avatar-description">
            <h2>Autre panne</h2>
          </div>
          <a class="avatar-link" href="https://laurent30.typeform.com/to/Xrweht" target="_blank"></a>
        </div>

      </div>
    </div>

    <div class="text-center features">
      <p>Si vous rencontrez plusieurs pannes (exemple : cumulus + WC), cliquez sur le bouton suivant :</p>
      <%= link_to "Décrire ma panne", "https://laurent30.typeform.com/to/vdixHQ", :target => "_blank", class: "navbar-wagon-item navbar-wagon-button btn" %>
    </div>

  </div>
</div>


<!-- Types of disfunctions -->

<!-- <div class="padded-presentation"> -->
<!--   <div class="container">
    <h2 class="text-center">Tout type de panne</h2>
    <br>
    <div class="text-center features">
      <div class="row">
      <%= image_tag "cumulus_mural.jpg", {class: "avatar"}%>
      <%= image_tag "wc_standard.jpg", {class: "avatar"}%>
      <%= image_tag "radiateur.jpg", {class: "avatar"}%>
      <%= image_tag "evier.jpg", {class: "avatar"}%>
      <%= image_tag "lavabo.jpg", {class: "avatar"}%>
      </div>
      <div class="row">
      <%= image_tag "baignoire.jpg", {class: "avatar"}%>
      <%= image_tag "chaudiere-gaz.jpg", {class: "avatar"}%>
      <%= image_tag "chaudiere-fioul.jpg", {class: "avatar"}%>
      <%= image_tag "canalisation.jpg", {class: "avatar"}%>
      <%= image_tag "autre.jpg", {class: "avatar"}%>
      </div>
    </div>
  </div>
</div> -->

<!-- Parcours -->

<div class="banner-parcours padded" style="background: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_path "laurent.JPG"%>);">
  <div class="padded-presentation">
    <div class="container">
    <h2 class="text-center">20 ans de métier</h2>
    <br>
    <div class="col-xs-12 col-sm-4">
    </div>
    <div class="col-xs-12 col-sm-8">
      <div class="features">
      <p style="text-align: left; margin-right: 30px;"><strong>Laurent Sabatte</strong>, 40 ans
      <br>
      <br>D'abord installateur en thermique et sanitaire, puis dépanneur chaudières gaz et fioul, Laurent a créé son entreprise en 2003 pour devenir plombier-chauffagiste indépendant. Plus aucune panne ne lui résiste ! Toujours tourné vers l'innovation, Laurent met aujourd'hui son savoir-faire au service de tous ceux qui souhaitent réparer leurs propres pannes.
      </p>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- Avis -->

    <div class="wrapper-grey padded-presentation text-center">
      <div class="container">
        <h2 class="text-center">Nos clients nous recommandent</h2>
        <br>
        <div class="container text-center features">
          <div class="row">
            <div class="col-xs-6 col-sm-3">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path "sylvie.jpg"%>);">
              <div class="card-description">
                <h2><strong>Sylvie</strong>, 43 ans</h2>
              </div>
            </div>
            </div>
            <div class="col-xs-12 col-sm-9">
              <p class="text-left panne-description">Panne : <strong>baisse de pression d'une chaudière à gaz</strong>
              <br>Prix du dépannage à distance : <strong>30€</strong> (soit une <strong>économie de 50€</strong>)
              <br>Dépannage sans remplacement de pièce
              <br>
              <br>
              <i><strong>"</strong>Après un prédiagnostic qui évoquait une fuite par la soupape de sécurité, au niveau du corps de chauffe, ou du vase d’expansion, le diagnostic à distance par vidéo m'a ensuite permis de regonfler tout simplement le vase d’expansion de ma chaudière. Un service rapide et super économique.<strong>"</strong></i>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-9">
              <p class="text-right">Panne : <strong>problème sur cumulus (pas d'eau froide)</strong>
              <br>Prix du dépannage à distance : <strong>75€</strong> (soit une <strong>économie de 150€</strong>)
              <br>Dépannage avec remplacement de pièce sur cumulus (aquastat du ballon)
              <br>
              <br>
              <i><strong>"</strong>Je ne pensais pas pouvoir réparer moi-même mon cumulus ! Après notre 1er rdv en utilisant la vidéo avec Skype, j'ai reçu en moins de 48h la pièce défectueuse. Le 2nd rdv m'a ensuite permis de réparer mon cumulus à distance. Je ne pensais pas pouvoir faire ça tout seul, grâce à la vidéo !<strong>"</strong></i>
              </p>
            </div>
            <div class="col-xs-6 col-sm-3">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path "thomas.jpg"%>);">
              <div class="card-description">
                <h2><strong>Thomas</strong>, 38 ans</h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6 col-sm-3">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path "melanie.jpg"%>);">
              <div class="card-description">
                <h2><strong>Mélanie</strong>, 29 ans</h2>
              </div>
            </div>
            </div>
            <div class="col-xs-12 col-sm-9">
              <p class="text-left">Panne : <strong>mécanisme de wc défectueux (problème de remplissage)</strong>
              <br>Prix du dépannage à distance : <strong>40€</strong> (soit une <strong>économie de 60€</strong>)
              <br>Dépannage avec remplacement de pièce (joint)
              <br>
              <br>
              <i><strong>"</strong>Le prédiagnostic me donnait un problème de joint ou de micro-fissure du mécanisme de remplissage. Après le diagnostic, j'ai reçu le joint en moins de 2 jours, puis nous avons procédé au dépannage par vidéo. Moi qui ne suis pas manuelle, le remplacement du joint n'était pas si difficile ! En plus, j'ai économisé 60€, de quoi m'offrir un bon resto.<strong>"</strong></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
